html{
  font-family: 'Montserrat';
  font-weight: 200;
}

.rstcustom__rowContents{
  color: #e60028;
  font-size: 20px;
  text-transform: uppercase;
  color: #e60028;
  border: solid black 1px;
}
  

.success{
  text-transform: uppercase;
  color: #e60028;
  font-size: 30px;
  padding: 5px;
  margin: 5px;
  width: 100%;
  margin: 5px;
  font-weight: 600;
  background: black;
  border: solid black 1px;
}
  
.success:hover{
  background: white
}

.btnC{
  margin-top: 10px;
  margin-left: 5px;
  padding-left: 20px;
  padding-right: 20px;
  height: 30px;
  font-weight: 500;
  font-size: 18px;
  color: #e60028;
  border: solid black 2px;
}

.btnC:hover{
  cursor: pointer;
  color: black;
  background: #e60028;
}